body {
	font-family: 'Roboto', sans-serif;
}

.tooltip {
	border-bottom: 1px dotted #000;
	text-decoration: none;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 2px 4px;
}

table#grid td {
	font-family: 'Fira Mono', monospace;
	font-size: 14pt;
}

#wrapper {
	align-content: center;
}
#wordsearch {
	float: left;
	margin-bottom: 24px;
}

#words {
	float: right;
	width: 200px;
}

#footer {
	position:absolute;
	bottom:0;
}

textarea#textarea_words {
	font-family: 'Fira Mono', monospace;
	font-size: 10pt;
}

@media only print {
	.noprint {
		display: none;
	}
}
