<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Wordsearch creator</display-name>
    <description>
	Wordsearch building app
    </description>

    <context-param>
        <param-name>sqlite_db</param-name>
        <param-value>/tmp/wordsearch.db</param-value>
    </context-param>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>dump</web-resource-name>
            <url-pattern>/dump.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>


</web-app>
